:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100dvh;
  font-family: 'gba-pokemon';
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 0.5rem; */
  text-align: center;
  font-family: 'gba-pokemon';
}

.slider-container{
  display: flex;
  max-width: 100vw;
  overflow: scroll;
  align-items: center;
  min-height: 220px;
  gap: 1rem;
  img{
    height: 150px;
    margin: 0.5rem;
    border-radius: 0.5rem;
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.05);
    }
  }
}
.pokemon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 250px;
  .pokemon-button{
    width: min-content;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
